$parent: 'panel';

.#{$parent} {
  position: absolute;
  left: -21.428rem;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  min-width: 0;
  max-width: 21.428rem;
  z-index: 15;
  background-color: $color-white;
  display: none;
  flex-direction: column;

  @media (min-width: $md) {
    position: initial;
    display: flex;
    width: 100%;
    min-width: 20.8rem;
  }

  &_opened {
    display: flex;
    left: 0;
  }

  &__button-times {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0.7rem;

    @media (min-width: $md) {
      display: none;
    }
  }

  &__header {
    display: flex;
    padding: 0.7rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-bottom: 1px solid $color-grey-medium-light;
    position: relative;

    @media (min-width: $md) {
      display: none;
    }
  }

  &__body {
    padding: 0.7rem;
  }
}
