@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/montserrat-bold.eot?version=555bdf5e257a575fcb15e9e2053b1e5e);
  src: local("☺"),url(/assets/fonts/montserrat-bold.woff?version=e81f145748085cb48effa295920e0cad) format("woff"),url(/assets/fonts/montserrat-bold.ttf?version=079ca05d3ded9bc107ab8a8da013be22) format("truetype"),url(/assets/fonts/montserrat-bold.svg?version=db58b4904afe1f51e9d0fe754c86124e) format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/montserrat-regular.eot?version=5ce9af918dfe272afe4bf0fbe8db8f4f);
  src: local("☺"),url(/assets/fonts/montserrat-regular.woff?version=bb7497ba6ec07dcdf4e18493cfac99dd) format("woff"),url(/assets/fonts/montserrat-regular.ttf?version=3cd786652b8a2e9d41f210cb1a527ff6) format("truetype"),url(/assets/fonts/montserrat-regular.svg?version=d76d2e633e77a0d77cecea3975da8e0b) format("svg");
}

.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-clip: padding-box;
}

.league-list-item {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  border-bottom: 3px solid;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}

.league-list-item:hover {
  transform: scale(1.1);
}

.league-list-item__logo {
  width: 7.143rem;
  height: 7.143rem;
  display: flex;
  align-items: center;
}

.league-list-item__image {
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

.league-list-item__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.929rem;
  color: #808488;
  margin-top: 3rem;
}

.league-list-item__country {
  color: #808488;
  margin-top: 1rem;
  font-size: 0.786rem;
  text-transform: capitalize;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/montserrat-bold.eot?version=555bdf5e257a575fcb15e9e2053b1e5e);
  src: local("☺"),url(/assets/fonts/montserrat-bold.woff?version=e81f145748085cb48effa295920e0cad) format("woff"),url(/assets/fonts/montserrat-bold.ttf?version=079ca05d3ded9bc107ab8a8da013be22) format("truetype"),url(/assets/fonts/montserrat-bold.svg?version=db58b4904afe1f51e9d0fe754c86124e) format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/montserrat-regular.eot?version=5ce9af918dfe272afe4bf0fbe8db8f4f);
  src: local("☺"),url(/assets/fonts/montserrat-regular.woff?version=bb7497ba6ec07dcdf4e18493cfac99dd) format("woff"),url(/assets/fonts/montserrat-regular.ttf?version=3cd786652b8a2e9d41f210cb1a527ff6) format("truetype"),url(/assets/fonts/montserrat-regular.svg?version=d76d2e633e77a0d77cecea3975da8e0b) format("svg");
}

.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-clip: padding-box;
}

.league-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.league-list__item {
  padding: 1em;
  cursor: pointer;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/montserrat-bold.eot?version=555bdf5e257a575fcb15e9e2053b1e5e);
  src: local("☺"),url(/assets/fonts/montserrat-bold.woff?version=e81f145748085cb48effa295920e0cad) format("woff"),url(/assets/fonts/montserrat-bold.ttf?version=079ca05d3ded9bc107ab8a8da013be22) format("truetype"),url(/assets/fonts/montserrat-bold.svg?version=db58b4904afe1f51e9d0fe754c86124e) format("svg");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/montserrat-regular.eot?version=5ce9af918dfe272afe4bf0fbe8db8f4f);
  src: local("☺"),url(/assets/fonts/montserrat-regular.woff?version=bb7497ba6ec07dcdf4e18493cfac99dd) format("woff"),url(/assets/fonts/montserrat-regular.ttf?version=3cd786652b8a2e9d41f210cb1a527ff6) format("truetype"),url(/assets/fonts/montserrat-regular.svg?version=d76d2e633e77a0d77cecea3975da8e0b) format("svg");
}

.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-clip: padding-box;
}

.leagues-page {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  flex-direction: column;
}

.leagues-page__control,
.leagues-page__header {
  padding: 1rem 0;
}

.leagues-page__control {
  display: flex;
}

@media (min-width: 992px) {
  .leagues-page__control {
    display: none;
  }
}

.leagues-page__panel {
  max-width: 21.428rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.leagues-page__body {
  display: flex;
  width: 100%;
}

.leagues-page__list {
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 1rem;
}
