$parent: 'league-list-item';

.#{$parent} {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  border-bottom: 3px solid #536591;
  background-color: #ffff;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__logo {
    width: 7.143rem;
    height: 7.143rem;
    display: flex;
    align-items: center;
  }

  &__image {
    width: 100%;
    object-fit: contain;
    object-position: center center;
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;
    color: #808488;
    margin-top: 2rem;
  }

  &__country {
    color: #808488;
    margin-top: 1rem;
    font-size: 0.786rem;
  }
}
