$parent: 'app';

.#{$parent} {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;

  &__header,
  &__footer {
    display: flex;
    flex: 0 0 auto;
    min-width: 0;
  }

  &__main {
    display: flex;
    flex: 1 1 100%;
    min-width: 0;
  }
}
