@import '~assets/theme/variables.scss';

$parent: 'leagues-page';

.#{$parent} {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  flex-direction: column;
  padding: 0rem 6rem;

  &__control,
  &__header {
    padding: 1rem 0;
  }

  &__control {
    display: flex;
  }
}
