@import '~assets/theme/variables.scss';

$parent: 'leagues-page';

.#{$parent} {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  flex-direction: column;

  &__control,
  &__header {
    padding: 1rem 0;
  }

  &__control {
    display: flex;

    @media (min-width: $md) {
      display: none;
    }
  }

  &__panel {
    max-width: 21.428rem;
  }
}
