@import '~assets/theme/variables.scss';

$parent: 'filter';

.#{$parent} {
  display: flex;
  flex: 1 1 100%;
  min-width: 0;
  flex-direction: column;

  &__item {
    margin-bottom: 0.7rem;
  }

  &__item:last-child {
    margin-bottom: initial;
  }
}
