$parent: 'link';

.#{$parent} {
  display: flex;
  width: 100%;
  color: $link-text-color-default;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;

  &_current {
    color: $link-text-color-current;
    font-weight: bold;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_uppercase_first {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &:hover {
    color: $link-text-color-hover;
  }
}
