$parent: 'link';

.#{$parent} {
  display: flex;
  width: 100%;
  color: $primary-color-opacity-75;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;

  &_current {
    color: $primary-color-opacity-75;
    font-weight: bold;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_uppercase_first {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &_narrow {
    width: initial;
  }

  &:hover {
    color: $primary-color-opacity-25;
  }
}
